<form class="cat-page" name="$ctrl.catForm" ng-submit="$ctrl.saveCat()" novalidate>
  <div class="cat-page__header">
    <label class="cat-page__header__left">Cat info</label>

    <div class="cat-page__header__right">
      <button class="button" ng-if="!$ctrl.isEditing" type="button" ng-click="$ctrl.isEditing = true">
        Edit
      </button>

      <button class="button" ng-if="$ctrl.isEditing" type="submit">
        Save
      </button>

      <button class="button" ng-if="$ctrl.isEditing" type="button" ng-click="$ctrl.deleteCat()">
        Delete
      </button>
    </div>
  </div>

  <cat-display cat="$ctrl.cat" is-editing="$ctrl.isEditing" update-cat="$ctrl.updateCatData(catData)"></cat-display>
</form>

