{
  "presets": [
    "env"
  ],
  "plugins": [
    ["angularjs-annotate" , { "explicitOnly" : true }],
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import",
    "angularjs-annotate",
    "syntax-decorators",
    "ng-annotate"
  ]
}
