{
	"env": {
		"browser": true
	},
  "parser": "babel-eslint",
	"parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
	},
	"extends": "eslint:recommended",
	"rules": {
		"indent": [
			"error",
			2
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		],
		"eqeqeq": [
			"error",
			"always"
		],
		"dot-notation": [
			"error"
		],
		"array-bracket-spacing": [
			"error",
			"never"
		],
		"block-spacing": [
			"error",
			"never"
		],
		"brace-style": [
			"error",
			"stroustrup",
			{
				"allowSingleLine": true
			}
		],
		"camelcase": [
			"error"
		],
		"comma-dangle": [
			"error",
			{
				"arrays": "always-multiline",
				"objects": "always-multiline",
				"imports": "always-multiline",
				"exports": "always-multiline",
				"functions": "always-multiline"
			}
		],
		"comma-spacing": [
			"error"
		],
		"comma-style": [
			"error"
		],
		"computed-property-spacing": [
			"error"
		],
		"func-call-spacing": [
			"error"
		],
		"key-spacing": [
			"error"
		],
		"max-len": [
			"error",
			120,
			2
		],
		"new-cap": [
			"error"
		],
		"newline-after-var": [
			"error",
			"always"
		],
		"no-trailing-spaces": [
			"error",
			{
				"skipBlankLines": true
			}
		]
	},
	"globals": {
		"angular": true,
		"_": true,
		"moment": true,
		"document": true,
		"window": true,
		"Promise": true,
		"Object": true,
		"Array": true,
		"RegExp": true
	}
}
