<!DOCTYPE html>
<html ng-app="<%= htmlWebpackPlugin.options.module %>" ng-strict-di>
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div ui-view></div>
</body>
</html>
