{
	"env": {
		"node": true
	},
	"extends": "../.eslintrc",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  },
	"globals": {
		"$": true
	}
}
